@font-face{
    font-family: Genshin;
    src: url(../Assets/genshifont.ttf);
}
*{
    font-family: Genshin, 'Times New Roman', serif;
}
header{
    text-align:center;
}
div.header {
    box-sizing:border-box;
    background-color:aquamarine;
    padding:10px;
    }
        
nav h1 {
    text-align:center;
    }
        
nav a {
    text-align:center;
    display:flex;
    flex-direction:column;
    justify-content: space-around;
    align-items: center;
    width:85%;
    height:fit-content;
    box-sizing:border-box;
    background-color:aquamarine;
    margin: auto;
    padding:50px;
    }

nav.nations a{
    box-sizing: border-box;
    background-color: blanchedalmond;
    margin:5px solid;
    padding:1px;
    width:85%;
    text-align:left;
}

header img {
    width: 100px;
    height: 100px;
}
.menu{
    display:flex;
    min-height:100vh;
}
aside{
    background-color:pink;
    width:200px;
    height:100vh;
    padding:5px;
    position:sticky;
}
aside p{
    font-size:large;
}
.nationDisplays{
    display: flex;
    flex-direction:row;
    justify-content: space-around;
    align-items:stretch;
}
.nationCrd{
    box-sizing:content-box;
    background-color: #f44336;
    min-width:100px;
    min-height:50vh;
    color: white;
    padding: 14px 25px;
    text-align: center;
    margin:10px;
}
.nationCrd a{
    font-size:medium;
}
.nationCrd p{
    font-size:small;
}
.container{
    padding:20px;
}